[Desktop Entry]
Type=Application
Version=1.0
Name={{name}}
GenericName=音乐播放器
Name[zh_CN]={{name}}
Name[en]={{name}}
Comment=网易云音乐第三方客户端
Comment[zh_CN]=网易云音乐第三方客户端
Comment[en]=A third-party Netease Cloud Music desktop client
Exec={{exec}} %U
Icon={{icon}}
Terminal=false
Categories=AudioVideo;Audio;Player;Network;
Keywords=music;ncm;netease;mpris;player;音乐;网易云;
StartupNotify=true
StartupWMClass={{exec}}
